body {
    background-color: orange;
    margin: 2,5;
    padding: 20px;
    align-items: center;
}
 section h1{
    color:white;
    font-weight: bold;
    text-align: center;
    
}

section h2  {
    color:white;
    font-family: "Grechen Fuemen", cursive;
    font-weight: bolder;
}


 section p {
    color: black;
    font-family: 'Courier New', monospace;
}

img{
    border-radius: 15px;

}
